    <div id="page">
      <div id="header">
        <a href="#menu"></a>
        <span id="Logo" class="svg">
          Sk8
        </span>
      </div>
      <div class="subHeader"><i class="i-blog i-small"></i><%=@spot.name %></div>
      <div id="content">
        <article>
          <div class="bannerPane">
            <section class="slider">
              <div class="flexslider">
                <ul class="slides">

                  <li>
                    <%= image_tag @spot.avatar if @spot.avatar.exists? %>
                  </li>

                </ul>
              </div>
            </section>
          </div>
          <div class="a-meta">
            <i class="i-author i-small"></i><%=@spot.user.email if @spot.user%>
          </div>
          <div class="description">
            <div class="spotName">
             <h2><strong><%=@spot.name %></strong></h2>
            </div>
            <div class="spotDescription">
              <%=@spot.description %>
            </div>
            <div class="spotAddress">
              <%=@spot.address %>
            </div>
            <div class="spotBestTime">

              <p>Best time to skate is:</p>

              <div class="row">
                <p><%=@spot.days %> <%=@spot.best_time %></p>
              </div>

            </div>
            <div class="spotDays">
            </div>
            <div data-score=<%=@spot.rating %> id="star">

            </div>
          </div>



          <div class="article-comments">
            <h3>Comments</h3>
            <hr>
            <% @spot.comments.each do |comment| %>
              <ul>
                <p class="c-a-name">

                  <i class="i-author i-small"></i><strong><%= comment.user.email %></strong>

                  <i class="i-calendar i-small"></i><%= comment.user.created_at %>

                </p>
                <p class="desc">
                  <%= comment.content %>
                  <%= image_tag comment.avatar if comment.avatar.exists? %>
                </p>
              </ul>
            <% end %>

            <hr>

            <ul>
              <li>
                <%= form_for @spot, :url => spot_comments_path(@spot), :html => { :method => :post, :multipart => true } do |form| %>

                  <label>Comment <span class="required">*</span></label>

                  <textarea id="ContactMessage" name="comment[content]" placeholder="Comment"></textarea>

                  <label>Photos</label>

                  <input type="file" name="comment[avatar]"placeholder="Photos">

                  <input type="submit"  class="btn-normal" id="SubmitContact" value="Comment">

                  <div id="msg" class="notifications" style="display:none"></div>
                <% end %>
              </li>
            </ul>
          </div>
        </article>

      </div>
      <nav id="menu">
        <ul>
          <li>
            <a href="/spots">
              <i class="i-home i-small"></i>Search Spots
            </a>
          </li>
          <li>
            <a href="/spots/new">
              <i class="i-small"></i>Create Spot
            </a>
          </li>
          <li>
            <a href="/logout">
              <i class="i-small"></i>Logout
            </a>
          </li>
        </ul>
      </nav>
    </div>


  <script>
    $("#star").raty({
      score: function() {
        return $(this).attr('data-score');
      },
      path: "/images/",
      width: 160,
      readOnly: true});


  </script>







